.frdr-jumbo-footer {
  margin-top:50px;
  background-color: #D1D1D1;
  min-height: 30px;
  font-size:14px;
  color:#0A0A0A;
  padding: 20px;
}

.frdr-jumbo-footer a {
  font-weight: bold;
}

.frdr-jumbo-footer a:link, a.dl-r-title.ng-binding:link {
  color: #34d;
}

.frdr-jumbo-footer a:visited, a.dl-r-title.ng-binding:visited {
  color: #884488;
}

.frdr-jumbo-footer a:hover, a.dl-r-title.ng-binding:hover  {
  color: #B12;
}


h1 {
  font-size: 1.2em;
}

navbar {
   height: 50px;
   min-height: 50px;
   margin-bottom: 20px;
}

.dl-search input[type="search"] {
   font-size: 1em;
}

a.ng-binding {
  padding-right: 5px;
}

dd.ng-scope {
  margin-left: 0px;
}

