.navbar-inverse.navbar-fixed-top {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.navbar-brand{
    margin-left: 0px;
}

div#navbar-collapse-1 {
    margin-right: 15px;
    box-shadow: none;
}

.navbar-inverse .navbar-nav > li > a:hover,.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:active {
    color: #424242 !important;
    background: #FFFFFF;
    font-weight: 300;
    line-height: 23px;
    font-size: 15px;
    border:none;
    border-radius: 5px 5px 5px 5px;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #FFFFFF;
    background-color: #2191C5;
}

/* colors for mobile menu */
@media only screen and (max-width : 931px) {
  #navbar-collapse-1 > ul { margin-top: 0px; margin-bottom: 0px;}
  #navbar-collapse-1 > ul >li > a { border-radius: 0px; margin:0px; color:#FFFFFF; background-color: #424242;}
  #navbar-collapse-1 > ul >li > a:hover, #navbar-collapse-1 > ul >li > a:focus { border-radius: 0px; margin:0px; color:#424242; background-color: #FFFFFF;}
  #navbar-collapse-1 > ul >li > a:active {border-radius: 0px; margin:0px; color:#424242; background-color: #F0F0F0;}
  #navbar-collapse-1 > ul >li > ul { padding: 0px; }
  #navbar-collapse-1 > ul >li > ul > li > a:hover { border-radius: 0px; margin:0px; color: #FFFFF !important; background-color: #2191C5;}
  .navbar-collapse li a { color:white; background-color: #424242;}
  .navbar-collapse li a:hover { background-color: white; }
  .navbar-nav > li > a:hover { background-color: white; }
  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:active {  color: #FFFFFF; background-color: #2191C5;}
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {background-color: #FFFFFF; color: #424242;}
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus { background-color: #2882bb; color: #FFFFFF; }
  .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #f0f0f0; color: #424242; }
  .navbar-inverse .navbar-nav > .dropdown > a .caret { border-top: 4px solid #424242; }
  #sitelogo {height: 110px; margin-right:-10px;}
  #jumbo-mid-logo {height: 110px;}
  #jumbo-mid-tagline { font-size: 24px; margin-top: 150px; margin-left:-10px;}
  .frdr-jumbo-mid { min-height: 270px; }
}
.container-fluid{
    margin-bottom: 15px;
}
div#filler{
    height: 17px;
    background-color: #FFFFFF;
}

.navbar-inverse .navbar-nav > .open > a {
    background-color: #f0f0f0;
    color: #424242;
}