    <div class="container quicksearch mt-4">
        <form class="form" role="search" action="/discover/html/discovery-ui.html" method="GET">
        <div class="input-group">
            <input type="text" class="form-control search_bar" ng-attr-placeholder="{{ 'SEARCH' | translate }}" name="q" id="srch-term" style="font-size: 17px;">
            <input id="srch-lang" type="hidden" name="lang" ng-model="language"/>
            <div class="input-group-text" style="padding:0px">
                <button class="btn btn-default search-button" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
        </form>
    </div>
