    <div class="container quicksearch">
        <form class="form" role="search" action="/discover/html/discovery-ui.html" method="GET">
        <div class="input-group">
            <input type="text" class="form-control search_bar" ng-attr-placeholder="{{ 'ADVSEARCH_HEADER' | translate }}" name="q" id="srch-term" style="font-size: 17px;">
            <input type="hidden" name="lang" id="srch-lang" value="en">
            <input id="srch-lang" type="hidden" name="lang" ng-model="language"/>
            <div class="input-group-btn">
                <button class="btn btn-default search-button" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
    </div>
