        <article class="dl-spaced">
            <h3><span translate>REPOLIST_HEADER</span></h3>
            <p><span translate>REPOLIST_BLURB_1</span> <a href="{{ 'REPOLIST_BLURB_URL' | translate }}" link-out><span translate>REPOLIST_BLURB_2</span></a> <span translate>REPOLIST_BLURB_3</span></p>
            <div class="row-fluid dl-advs-cont">
                
                <table class="table">
                    <tr>
                        <th></th>
                        <th><span translate>REPOSITORY_NAME</span></th>
                        <th><span translate>ITEM_COUNT</span></th>
                        <th><span translate>WEBSITE</span></th>
                    </tr>

                    <tr ng-repeat="row in repoList">
                        <td><img ng-if="row.icon_url" src="{{::row.icon_url}}" class="repologo"/></td>
                        <td>{{::row.label}}</td>
                        <td style="text-align:right;padding-right:10px"><span ng-if="row.item_count > 0"><a 
                        link-out href="/discover/html/discovery-ui.html?q=*&Collection={{::row.label}}">{{::row.item_count}}</a></span>
                        <span ng-if="row.item_count == 0">0</span>
                        </td>
                        <td><span ng-if="row.repo_url"><a link-out ng-href="{{ ::row.repo_url }}" class="repolinknormal">{{ ::row.repo_url }}</a><a link-out ng-href="{{ ::row.repo_url }}" class="repolinksmall"><span class="glyphicon glyphicon-share"/></a></span></td>
                    </tr>
                    
                </table>
            </div>
        </article>
