        <article class="dl-spaced">
            <div class="row-fluid dl-advs-cont">
                <div class="dl-advs-buildquery" ng-cloak>

                    <div class="dl-advs-inputs">
                        <span translate>SOURCE</span>:
                        <select class="adv-source" ng-model="selectedCollection" ng-options="option.label for option in collectionList track by option.val" aria-label="{{ 'SOURCE' | translate }}"></select>
                    </div>

                    <span ng-repeat="s in querySegments">
                    <div class="dl-center dl-advs-boolgrp ng-cloak">
                        <select class="bool sm"
                                ng-model="s.bool.selected"
                                ng-options="o as (o | translate) for o in s.bool.opts"
                                ng-hide="s.track===0"
                                aria-label="{{ 'BOOLEAN' | translate }}"
                                ng-change="selectEvent('select_bool', s.bool.selected)"></select>
                    </div>

                    <div class="dl-advs-inputs">
                        <select class="anyall" ng-model="s.anyAll.selected" ng-options="o as (o | translate | capitalize) for o in s.anyAll.opts" aria-label="{{ 'LIMIT_BY' | translate }}" ng-change="selectEvent('select_anyall', s.anyAll.selected)"></select>

                        <input type="text" ng-model="s.keywords" onclick="this.select();" ng-enter="search()" aria-label="{{ 'KEYWORDS' | translate }}">

                        <span class="in"><span translate>IN</span></span>


                        <select class="fields" ng-model="s.fields.selected" ng-options="val.map as val.label | translate for (key, val) in s.fields.opts" aria-label="{{ 'FIELD' | translate }}" ng-change="selectEvent('select_field', s.fields.selected)"></select>

                        <button class="dl-sbtn-lrg dl-advs-rm-btn" ng-disabled="s.track===0" ng-class="{disabled:s.track===0}" ng-click="rmSegment($index)" ng-cloak aria-label="{{ 'FIELD_REMOVE' | translate }}" ga-event="advanced_search,remove_segment"><i class="fa fa-close"></i></button>
                    </div>

                    </span>

                    <button class="dl-sbtn-lrg dl-advs-add-btn" ng-click="addSegment()" aria-label="{{ 'FIELD_ADD' | translate }}"><span translate>FIELD_ADD</span></button>


                    <div class="row-fluid dl-advs-searchrow">
                        <button class="dl-advs-srch" ng-click="search()" aria-label="{{ 'SEARCH' | translate }}">
                            <span class="dl-advs-srch-label" translate>SEARCH</span>
                            <!-- magnifying glass svg -->
                            <svg class="dl-srch-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="24px" viewbox="33.333 33.333 333.333 333.333" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M150,66.667c46.667,0,83.334,36.667,83.334,83.333S196.667,233.334,150,233.334S66.667,196.667,66.667,150
                            S103.333,66.667,150,66.667 M150,33.333C85,33.333,33.333,85,33.333,150S85,266.666,150,266.666S266.666,215,266.666,150
                            S215,33.333,150,33.333L150,33.333z"/>
                                </g>
                            </g>
                            <g>
                                <polygon points="366.667,338.334 338.333,366.666 233.334,261.666 233.334,233.334 261.666,233.334"/>

                                <rect class="dl-srch-svg" x="229.839" y="210.379" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 579.4046 240.7478)"
                                      fill="#FFFFFF" width="20" height="60"/>
                            </g>
                            </svg>
                        </button>
                    </div>

                    <span ng-controller="facetsController" ng-cloak>
                        <div  class="dl-facets row-fluid" ng-hide="hideFacets" class="ng-hide">
                            <div class="row-fluid">
                                <facets ng-if="f" data-f="f" chunked="chunked"></facets>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </article>

        <article>
        <p style="font-size:16px">
            <span translate>ADVSEARCH_DOCS_TEXT1</span> <a ng-href="{{ 'ADVSEARCH_DOCS_URL' | translate }}" link-out><span translate>ADVSEARCH_DOCS_TEXT2</span></a>
        </p>
        </article>
