    <div class="frdr-jumbo-footer">
      <div class="container">
        <div class="col-md-12">
          <footer>
            <div>
                <a href="{{ 'FOOTER_ALLIANCE_URL' | translate }}" target="_blank">
                    <img class="footer-alliance-logo" alt="{{ 'FOOTER_ALLIANCE' | translate }}" src="{{ 'FOOTER_ALLIANCE_LOGO' | translate }}">
              </a>
            </div>
            <div>
                &copy; 2017 - 2021 <span translate>FOOTER_ALLIANCE</span>
            </div>
            <div>
                <span translate>FOOTER_DISCLAIMER</span>
            </div>
            <div>
                <a href="{{ 'PRIVACY_POLICY_URL' | translate }}"><span translate>PRIVACY_POLICY</span></a>
            </div>
            <div>
                <a href="https://open.library.ubc.ca/" target="_blank" rel="noopener"><span translate>DISCOVERY_CREDIT</span></a>
            </div>
          </footer>
        </div>
      </div>
    </div>

